{%extends "base.html"%}
{% block head%}
ufhjks bncxiredj
{%endblock%}
{%block main %}
<!-- <h1>I love sharkz</h1> -->

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>date</th>
            <th>content</th>
            <th>Actions</th>
        </tr>
    </thead> 
    <tbody>
      {%for todo in todos%}  
        <tr>
            <td>{{todo.Id}}</td>
            <td>{{todo.created_at.date()}}</td>
            <td>{{todo.content}}</td>
            <td>
                <a href="/delete/{{todo.Id}}">Delete</a>
                <br>
                <a href="/update/{{todo.Id}}">Update</a>
            </td>
        </tr>
      {%endfor%}  
    </tbody>
</table>

<form action="/" method="POST">
    <input type="text" name="content" id="content"/>
    <button type="submit">add Task</button>
</form>

{%endblock%}